body{
    margin-left: 20px;
    margin-top: 5px;
}
.productos{
    border-color: black;
    border-width: 5px;
    border-style: solid;
    width: 500px;
}
.productos p{
    margin-left: 20px;
}

.contenedor{
    display: block;
}
