<ion-header [translucent]="true">
 
</ion-header>

<ion-content [fullscreen]="true">
  <body>
<section *ngFor="let r of productos" class="contenedor">
<section class="productos">
  <p>{{r.nombre}}</p>
  <p>cantidad: {{r.cantidad}}</p>
  <p>valor unitario: {{r.valor_unitario}}</p>
  <p>valor total: {{r.valor}}</p>
  <ion-button (click)='eliminarP(r.id)'>Eliminar</ion-button>
</section>
<br>
</section>
<ion-button *ngIf="mostrarComponente" (click)="realizarOrden()">Realizar orden</ion-button>
  </body>
</ion-content>
