.campo-ubicacion ion-input{
    width: 100%;
    padding-bottom: 20px;
}
.campo-ubicacion{
    width: 700px;
}
.campo-metodo ion-select{
    width: 100%;
}
.campo-metodo{
    width: 200px;
    padding-bottom: 20px;
}
