<ion-content [fullscreen]="true">

  <body>
    <ion-button (click)="volver()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <section *ngFor="let reg of resultado" class="contenedor">
      <article class="detalle">
        <img [src]="reg.imagen">
        <p>{{reg.nombre}}</p>
        <p>{{reg.descripcion}}</p>
        <p>{{reg.valor}}</p>
      </article>
        <ion-input type="number" max="5" min="1" [(ngModel)]="cantidad" required placeholder="Digite cantidad"></ion-input>
        <ion-button (click)="agregarCarrito()">Agregar al carrito</ion-button>
    </section>
  </body>
</ion-content>
