<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio" href="/tabs/inicio">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="carrito" href="/tabs/carrito">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Carrito</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="cuenta" href="/tabs/cuenta">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Cuenta</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
