<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <body>
<section *ngFor="let reg of registros" class="Productos">
  <article class="">
    <button class="Producto">
    <img [src]="reg.imagen">
    <p>{{reg.nombre}}</p>
    <p>{{reg.descripcion}}</p>
    <p>{{reg.valor}}</p>
  </button>
  </article>
</section>
</body>
</ion-content>
