body{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 100px;
}
#Productos{
display: inline-block;
padding: 5px;
}
#Producto{
    display:inline;
    padding-left:3px;
    padding-right:3px;
}
p{
    display:inline;
    padding-left:3px;
    padding-right:3px;   
}